## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [56]:
import pandas as pd

df = pd.read_csv('Resources/client_dataset.csv')
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [57]:
# View the column names in the data
df.columns

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [58]:
# Use the describe function to gather some basic statistics
df.describe()

,client_id,order_id,order_week,order_year,unit_price,unit_cost,unit_weight,qty,line_number
count,54639.000000,5.463900e+04,54639.000000,54639.000000,54639.000000,54639.000000,54639.000000,5.463900e+04,54639.000000
mean,54837.869416,5.470190e+06,11.359139,2022.993064,136.267207,99.446073,5.004116,5.702646e+02,2.979667
std,25487.438231,2.599807e+06,7.023499,0.082997,183.873135,133.164267,5.326599,1.879552e+04,2.436320
min,10033.000000,1.000886e+06,1.000000,2022.000000,0.010000,0.010000,0.000000,0.000000e+00,0.000000
25%,33593.000000,3.196372e+06,6.000000,2023.000000,20.800000,14.840000,1.450000,3.200000e+01,1.000000
50%,53305.000000,5.496966e+06,11.000000,2023.000000,68.310000,49.890000,3.240000,6.800000e+01,3.000000
75%,78498.000000,7.733869e+06,17.000000,2023.000000,173.160000,125.570000,6.890000,1.700000e+02,5.000000
max,99984.000000,9.998480e+06,52.000000,2023.000000,1396.230000,846.270000,46.430000,3.958244e+06,9.000000

In [59]:
# Use this space to do any additional research
# and familiarize yourself with the data.

print(df.dtypes)
print("*"*40)
print(df.count())

first           object
last            object
job             object
phone           object
email           object
client_id        int64
order_id         int64
order_date      object
order_week       int64
order_year       int64
item_id         object
category        object
subcategory     object
unit_price     float64
unit_cost      float64
unit_weight    float64
qty              int64
line_number      int64
dtype: object
****************************************
first          54639
last           54639
job            54639
phone          54639
email          54639
client_id      54639
order_id       54639
order_date     54639
order_week     54639
order_year     54639
item_id        54639
category       54639
subcategory    54639
unit_price     54639
unit_cost      54639
unit_weight    54639
qty            54639
line_number    54639
dtype: int64

In [60]:
# What three item categories had the most entries?
top_categories = df["category"].value_counts().head(3)
print(top_categories)

category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [61]:
# For the category with the most entries, which subcategory had the most entries?

# Step 1: Find the category with the most entries
most_common_category = df['category'].value_counts().idxmax()
print(f"The most common category is: {most_common_category}.")

# Step 2: Filter the DataFrame to include only the most common category
filtered_df = df[df['category'] == most_common_category]
# print(filtered_df.head())

# Step 3: Identify the subcategory with the highest count
most_common_subcategory = filtered_df['subcategory'].value_counts().idxmax()
print(f"The most common subcategory of the most common category is: {most_common_subcategory}.")

The most common category is: consumables.
The most common subcategory of the most common category is: bathroom supplies.

In [62]:
# Which five clients had the most entries in the data?
client_id_counts = pd.DataFrame(df['client_id'].value_counts().head(5))
print(f"The five clients with the most entries are: \n{client_id_counts}")

The five clients with the most entries are:
           count
client_id
33615        220
66037        211
46820        209
38378        207
24741        207

In [63]:
# Store the client ids of those top 5 clients in a list.
top_five_clients = client_id_counts['count'].nlargest(5).index.tolist()
print(f"Here is a list of the client IDs for the top 5 clients: \n{top_five_clients}")

Here is a list of the client IDs for the top 5 clients:
[33615, 66037, 46820, 38378, 24741]

In [64]:
# How many total units (the qty column) did the client with the most entries order order?
top_client_total_units = sum(df.loc[df['client_id'] == top_five_clients[0], 'qty'])
print(f"The total units ordered from the top client is: {top_client_total_units}")

#double check
# check_list = df.loc[df['client_id'] == top_five_clients[1], 'qty']
# check_list.mean()
# filtered_client_df = df[df['client_id'] == top_five_clients[1]]
# print(filtered_client_df)
# print(df['client_id'] == top_five_clients[1])

The total units ordered from the top client is: 64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [65]:
# Create a column that calculates the subtotal for each line using the unit_price and the qty
df['subtotal'] = df['unit_price'] * df['qty']
df['subtotal'].head()

0    115164.00
1       523.95
2       527.28
3      1056.18
4      3902.00
Name: subtotal, dtype: float64

In [66]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound for orders over 50 pounds and $10 per pound for items 50 pounds or under.
# Define a function
def per_pound_price(weight):
    if weight > 50:
        return 7
    return 10

# "Apply" the function to the amount column
df['order_weight'] = df['unit_weight'] * df['qty']
df['shipping_price'] = df['unit_weight'] * df['order_weight'].apply(per_pound_price) * df['qty']
df['shipping_price'].head()

0    5512.50
1     312.90
2     458.64
3     356.70
4    6500.20
Name: shipping_price, dtype: float64

In [67]:
# Create a column for the total price using the subtotal and the shipping price along with a sales tax of 9.25%
df['total_price'] = round(1.0925 * (df['subtotal'] + df['shipping_price']),2)
df['total_price']

0        131839.08
1           914.26
2          1077.12
3          1543.57
4         11364.40
           ...
54634      3564.87
54635     14813.24
54636     49184.90
54637     15632.71
54638     19711.43
Name: total_price, Length: 54639, dtype: float64

In [68]:
# Create a column for the cost of each line using unit cost, qty, and
# shipping price (assume the shipping cost is exactly what is charged to the client).

df['total_cost'] = (df['unit_cost'] * df['qty']) + df['shipping_price']
df['total_cost']

0        85597.05
1          629.79
2          765.18
3         1077.35
4         8663.60
           ...
54634     2222.55
54635    12095.92
54636    41054.25
54637    14280.00
54638    16599.10
Name: total_cost, Length: 54639, dtype: float64

In [69]:
# Create a column for the profit of each line using line cost and line price
df['profit'] = df['total_price'] - df['total_cost']
df['profit']

0        46242.03
1          284.47
2          311.94
3          466.22
4         2700.80
           ...
54634     1342.32
54635     2717.32
54636     8130.65
54637     1352.71
54638     3112.33
Name: profit, Length: 54639, dtype: float64

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [70]:
# Check your work using the totals above
check_orders = [
    {'order': 2742071, 'price': 152811.89},
    {'order': 2173913, 'price': 162388.71},
    {'order':6128929, 'price': 923441.25}
                  ]

for i in range(len(check_orders)):
    total = round(sum(df.loc[df['order_id'] == check_orders[i]['order'], 'total_price']), 2)
    if total == check_orders[i]['price']:
        print(f"The calculation for order {check_orders[i]} is confirmed.")
    else:
        print(f"Sorry, you have errors on order {check_orders[i]}.")

The calculation for order {'order': 2742071, 'price': 152811.89} is confirmed.
The calculation for order {'order': 2173913, 'price': 162388.71} is confirmed.
The calculation for order {'order': 6128929, 'price': 923441.25} is confirmed.

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [71]:
# How much did each of the top 5 clients by quantity spend? Check your work from Part 1 for client ids.
top_client_total = []
for j in range(len(top_five_clients)):
    client_total = round(sum(df.loc[df['client_id'] == top_five_clients[j], 'total_price']),2)
    top_client_total.append(client_total)
print(top_client_total)

[8377308.52, 10259514.79, 9743794.36, 12906550.87, 82268892.02]

In [72]:
# Create a summary DataFrame showing the totals for the for the top 5 clients with the following information:
# total units purchased, total shipping price, total revenue, and total profit. 
total_units_purchased = []
total_shipping_price = []
total_revenue = []
total_profit = []

for k in range(len(top_five_clients)):
    total_units_purchased.append(sum(df.loc[df['client_id'] == top_five_clients[k], 'qty']))
    total_shipping_price.append(round(sum(df.loc[df['client_id'] == top_five_clients[k], 'shipping_price']),2))
    total_revenue.append(round(sum(df.loc[df['client_id'] == top_five_clients[k], 'total_price']),2))
    total_profit.append(round(sum(df.loc[df['client_id'] == top_five_clients[k], 'profit']),2))

top_five_client_info_df = pd.DataFrame({
        'client_id': top_five_clients,
        'total_units_purchased': total_units_purchased,
        'total_shipping_price': total_shipping_price,
        'total_revenue': total_revenue,
        'total_profit': total_profit
})

print(top_five_client_info_df)

   client_id  total_units_purchased  total_shipping_price  total_revenue  \
0      33615                  64313            1828984.89     8377308.52
1      66037                  43018            1395151.85    10259514.79
2      46820                  75768            1601448.84     9743794.36
3      38378                  73667            3429455.40    12906550.87
4      24741                 239862            5126448.37    82268892.02

   total_profit
0    2201994.61
1    3255031.81
2    2736602.72
3    3271829.89
4   36579992.31

In [73]:
# Format the data and rename the columns to names suitable for presentation.

# Define the money columns. 
money_columns = ['total_shipping_price', 'total_revenue', 'total_profit']

# Define a function that converts a dollar amount to millions.
def millions_conversion(amount):
    amount_in_millions = amount / 1000000
    formatted_amount = "${:.2f} M".format(amount_in_millions)
    return formatted_amount

# Apply the currency_format_millions function to only the money columns. 
top_five_client_info_df[money_columns] = top_five_client_info_df[money_columns].apply(lambda x: x.apply(millions_conversion))

# Rename the columns to reflect the change in the money format. 
top_five_client_info_df = top_five_client_info_df.rename(columns={'total_shipping_price': 'Total Shipping Price (in $M)', 'total_revenue': 'Total Revenue (in $M)', 'total_profit': 'Total Profit (in $M)'})
print(top_five_client_info_df)

   client_id  total_units_purchased Total Shipping Price (in $M)  \
0      33615                  64313                      $1.83 M
1      66037                  43018                      $1.40 M
2      46820                  75768                      $1.60 M
3      38378                  73667                      $3.43 M
4      24741                 239862                      $5.13 M

  Total Revenue (in $M) Total Profit (in $M)
0               $8.38 M              $2.20 M
1              $10.26 M              $3.26 M
2               $9.74 M              $2.74 M
3              $12.91 M              $3.27 M
4              $82.27 M             $36.58 M

In [74]:
# Sort the updated data by "Total Profit (millions)" form highest to lowest and assign the sort to a new DatFrame.
top_five_client_info_df = top_five_client_info_df.sort_values(by='Total Profit (in $M)', ascending=False)
top_five_client_info_df

,client_id,total_units_purchased,Total Shipping Price (in $M),Total Revenue (in $M),Total Profit (in $M)
4,24741,239862,$5.13 M,$82.27 M,$36.58 M
3,38378,73667,$3.43 M,$12.91 M,$3.27 M
1,66037,43018,$1.40 M,$10.26 M,$3.26 M
2,46820,75768,$1.60 M,$9.74 M,$2.74 M
0,33615,64313,$1.83 M,$8.38 M,$2.20 M

## In summary, the data in the .csv file was largely complete. I was able to apply shipping costs based on the order weight to come up with total price, cost and profit. The top client in units sold was different from the top client in total profit.